@media screen and (max-width:500px) {
    .navbar-brand{
        font-family:'Franklin Gothic Medium';
        font-size: 20px;
    }

    .DetailImage{
            height: 300px;
            width: 200px;
            margin-left: 30px;
        }
        .details{
            width: 80%;
            text-align: center;
            height: auto;
            padding:20px;
            margin-top: 30px;
            margin-right: 60px;
        }
        .detail-title{
            font-size: medium;
        }
        .description{
            text-align: center;
            font-family: serif;
            font-size: 15px;
        }
        .order{
            text-align: center;
        }
        .instruction h2{
            font-size:medium
        }
      
    }